div{
	position:absolute;
}




#cancha{

	width: 100%;
	height: 100%;
	border: 2px solid darkgreen;
	background: darkgreen;
	
}
#porteria1{
	top: 20%;
	left: 0%;
	width: 20%;
	height:50%;
	border: 5px solid white;
	
}
#porteria2{
    top: 20%;
	margin-left: 80%;
	width: 20%;
	height:50%;
	border: 5px solid white;
	
}
.semi-circulo {
	 margin-top: 40%;
	 margin-left: 100%;
     width: 50px; 
     height: 100px; 
     border: 5px solid white; 
     border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
	
}

.semi-circulo-2 {
	 top: 40%;
	 left: 75.5%;
     width: 50px; 
     height: 100px; 
     border: 5px solid white; 
     border-radius: 0 100px 100px 0;
     border-radius: 100px 0 100px 0;
     border-radius: 100px 0 0 100px;
	
}

#lineaCentral{
	top: 0%;
	left: 50%;
	width: 0%;
	height:100%;
	border: 3px solid white;
	
}

.mediaCancha {
	top: 30%;
	left: 46%;
     width: 110px;
     height: 110px;
     border-radius: 50%;
     border-radius: 50%;
     border-radius: 50%;
	border: 3px solid white;
     
}

#duela{

	width: 100%;
	height: 100%;
	border: 2px solid #ba4a00;
	background: #ba4a00;
	
}

.canchaleft {
	top: 30%;
	left: 0%;
     width: 250px; 
     height: 300px; 
     border: 5px solid white; 
     border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
	
}

.cancharight {
	 top: 30%;
	 left: 80%;
     width: 250px; 
     height: 300px; 
     border: 5px solid white; 
     border-radius: 0 100px 100px 0;
     border-radius: 100px 0 100px 0;
     border-radius: 100px 0 0 100px;
	
}

#lineaCentral{
	top: 0%;
	left: 45S%;
	width: 0%;
	height:100%;
	border: 3px solid white;
	
}

.mediaCanchaB {
	top: 46%;
	left:46%;
     width: 110px;
     height: 110px;
     border-radius: 50%;
     border-radius: 50%;
     border-radius: 50%;
	border: 3px solid white;
     
}

.cirleft {
	top: 45%;
	left:15%;
     width: 110px;
     height: 110px;
     border-radius: 50%;
     border-radius: 50%;
     border-radius: 50%;
	border: 3px solid white;
     
}
.cirright {
	top: 45%;
	left: 75%;
     width: 110px;
     height: 110px;
     border-radius: 50%;
     border-radius: 50%;
     border-radius: 50%;
	border: 3px solid white;
     
}

   #tenispasto {

	width: 100%;
	height: 100%;
	border: 2px solid darkgreen;
	background: darkgreen;
	
}
#cuadsuperior{
	top: 0%;
	left: 0%;
	width: 50%;
	height:10%;
	border: 5px solid white;
	
}
#cuadsuperior2{
    top: 0%;
	margin-left:50%;
	width: 49%;
	height:10%;
	border: 5px solid white;
	
}
#cuadinferior{
	top: 85%;
	left: 0%;
	width: 50%;
	height:10%;
	border: 5px solid white;
	
}
#cuadinferior2{
    top: 85%;
	margin-left:50%;
	width: 49%;
	height:10%;
	border: 5px solid white;
	
}
#lineaCentral{
	top: 0%;
	left: 50%;
	width: 0%;
	height:100%;
	border: 3px solid white;
	
}

.mediaCancha {
	top: 35%;
	left:46%;
     width: 110px;
     height: 110px;
     border-radius: 50%;
     border-radius: 50%;
     border-radius: 50%;
	border: 3px solid white;
     
}

#cuadcentral{
    top: 30%;
	margin-left:50%;
	width: 19%;
	height:40%;
	border: 5px solid white;
	
}
#cuadcentral2{
	top: 30%;
	left: 30.5%;
	width: 19%;
	height:40%;
	border: 5px solid white;
}
#divisorcentral{
	top: 50%;
	left: 31%;
	width: 38%;
	height:0%;
	border: 3px solid white;
	
}